{% extends "base.html" %}

{% block content %}
    <div class="card mb-4 shadow p-3 border-0 shadow p-3">
        <div class="card-header">
            <strong>Email Details</strong>
        </div>
        <div class="card-body">
            <!-- Render the email content (HTML or plain text) -->
            {% if html_body %}
                {{ html_body | safe }}
            {% else %}
                <p>No email content available.</p>
            {% endif %}

            <!-- Render attachments if there are any -->
            {% if attachments %}
                <h3>Attachments:</h3>
                <div>
                    {% for attachment in attachments %}
                        {% if excess_list_id is defined and attachment['id'] is defined %}
                        <a href="{{ url_for('excess.download_excess_file', list_id=excess_list_id, file_id=attachment['id']) }}" class="btn btn-primary" target="_blank">
                            {{ attachment['filename'] }}
                        </a>
                        {% else %}
                        <a href="{{ url_for('emails.uploaded_file', filename=attachment['filename']) }}" class="btn btn-primary" target="_blank">
                            {{ attachment['filename'] }}
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
